.figure {text-align:center; 
         width: 50%;
         margin-left:auto;
         margin-right:auto;
         background-color: #ececec;
         padding: 0.3em;         
        }
.caption {font-size:90%;
      }

body {
    margin: auto; 
    padding-right: 1em;
    padding-left: 1em;
    max-width: 44em; 
    /* border-left: 1px solid black;
    border-right: 1px solid black; */
    color: black;
    font-family: sans-serif;
    /* font-size: 100%;
    line-height: 140%; */
    /* background-color: #ececec; */
}
pre {
/*     border: 1px dotted gray; */
    background-color: #ececec;
    color: #1111111;
    padding: 0.5em;
}
code {
    font-family: monospace;
    padding: 0.1em;
     
/*    font-style: italic; */
/*    font-weight: bold;  */
}
h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
    /* color: #7a5ada; */
}
h1, h2, h3, h4, h5 { 
    /* font-family: verdana; */
    font-weight: bold;
/*    border-bottom: 1px dotted black; */
    /* color: #7a5ada; */
}
h1 {
        font-size: 130%;
}

h2 {
        font-size: 110%;
}

h3 {
        font-size: 95%;
}

h4 {
        font-size: 90%;
        font-style: italic;
}

h5 {
        font-size: 90%;
        font-style: italic;
}

h1.title {
        font-size: 200%;
        font-weight: bold;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        text-align: left;
        border: none;
}

dt code {
        font-weight: bold;
}
dd p {
        margin-top: 0;
}

#footer {
        padding-top: 1em;
        font-size: 70%;
        color: gray;
        text-align: center;
}

#toc { 
/*  list-style-type: none;
    float: left;
    max-width: 10em; 
    font-size: 80%;
    margin: 0;

/*
  position: absolute;
  top: 1em;
  left: 1em;
  border: thin dotted 

  /* 

  padding: 0;
  margin: 0; */
/*

  width: 9em  */
}

#toc li {
  /* background: white; */
  /* margin: 0.5em 0; */
  /* padding: 0.3em; */
  /* border-right: 1em solid black */
}
#toc a {
  text-decoration: none }

/* a:link { color: blue } */
/* a:visited { color: purple } */

address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted 
}

img {
margin-left: auto;
margin-right: auto;
max-width: 44em; 
}